<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347887645306-p8rgjp1c5771lj3oa8546bj58c59c9v9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347887645306-p8rgjp1c5771lj3oa8546bj58c59c9v9</string>
	<key>API_KEY</key>
	<string>AIzaSyDae2aFkOaRBcUItYBZHix558L380T1Q40</string>
	<key>GCM_SENDER_ID</key>
	<string>347887645306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.domally</string>
	<key>PROJECT_ID</key>
	<string>domally</string>
	<key>STORAGE_BUCKET</key>
	<string>domally.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347887645306:ios:a2bbeae5711ee0f95641c3</string>
</dict>
</plist>